auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp

auto eth1
iface eth1
  address {{ tor_facing_ip }}
  up ip addr add 0.0.0.0/0 via {{ tor_gw }}
  down ip addr del 0.0.0.0/0 via {{ tor_gw }}

auto vagrant
iface vagrant
