auto lo
iface lo inet loopback
   address {{ loopback_ip}}/32

auto eth0
iface eth0 inet dhcp

auto eth1
iface eth1

auto keepdockerup
iface keepdockerup
  pre-up ip link add ${IFACE} type dummy

auto docker0
iface docker0 inet static
  address 172.17.0.1/16
  bridge_ports keepdockerup

