!
{# for all the bgp managed ports, enable IPv6 #}
interface  eth1
  no ipv6 nd suppress-ra
  ipv6 nd ra-interval 3
!
router bgp {{ bgp_asn }}
  no bgp default ipv4-unicast
  bgp bestpath compare-routerid
  bgp default show-hostname
  bgp router-id {{ loopback_ip }}
  maximum-paths 64
  bgp bestpath as-path multipath-relax
  neighbor fabric peer-group
  neighbor fabric description Internal Fabric network
  neighbor fabric advertisement-interval 0
  neighbor fabric timers 1 3
  neighbor fabric timers connect 3
  neighbor fabric remote-as external
  neighbor fabric capability extended-nexthop
  neighbor eth1 interface peer-group fabric

  address-family ipv4 unicast
     redistribute connected route-map LOOPBACK
     redistribute kernel route-map K8SROUTES
     neighbor fabric activate
  exit-address-family
!
access-list LOOPBACK permit {{ k8s_ip_prefix }}.0/24
access-list K8SROUTES permit {{ kube_pods_subnet }}
!
route-map LOOPBACK permit 10
  match ip address LOOPBACK
!
route-map K8SROUTES permit 10
  match ip address K8SROUTES
